.sf-frame {
   border-image: url("../assets/images/Frame.svg") 10 10 10 10 fill / 10px 10px 10px 10px;
   min-width: 10px;
   min-height: 10px;
   background-color: transparent;

   &.top {
      border-image: url("../assets/images/FrameTop.svg") 10 10 10 10 fill / 10px 10px 10px 10px;
   }

   .mantine-ScrollArea-scrollbar:where([data-orientation="vertical"]) {
      padding-bottom: 12px;
   }

   .mantine-ScrollArea-thumb {
      background-color: rgba(255, 255, 255, 0.2);
   }
}

.sf-frame .title {
   display: flex;
   font-size: var(--mantine-font-size-sm);
   margin: -5px 10px;
   text-transform: uppercase;
   font-weight: bold;
   color: var(--mantine-color-dark-2);

   &.mx0 {
      margin-left: 0;
      margin-right: 0;
   }
}
