.sf-frame {
   border-image: url("../assets/images/Frame.svg") 10 10 10 10 fill / 10px 10px 10px 10px;
   min-width: 10px;
   min-height: 10px;
   background-color: transparent;

   .mantine-ScrollArea-scrollbar {
      padding-bottom: 12px;
   }
   .mantine-ScrollArea-thumb {
      background-color: rgba(255, 255, 255, 0.1);
   }
}

.sf-frame .title {
   display: flex;
   font-size: var(--mantine-font-size-sm);
   margin: -5px 10px;
   text-transform: uppercase;
   font-weight: bold;
   color: var(--mantine-color-dark-2);
}
