@import "./frame.css";
@import "./modal.css";
@import "./button.css";
@import "./chat-panel.css";
@import "./panels.css";
@import "./utils.css";

@font-face {
   font-family: "IconFont";
   font-style: normal;
   src: url("../assets/fonts/MaterialSymbolsRounded.woff2") format("woff");
}

.mi {
   font-family: "IconFont";
   font-weight: normal;
   font-style: normal;
   font-size: 24px;
   line-height: 1;
   text-transform: none;
   letter-spacing: normal;
   word-wrap: normal;
   white-space: nowrap;
   direction: ltr;
}

.mi.inline {
   display: inline-block;
   vertical-align: middle;
}

.mi.sm {
   font-size: 20px;
}

.mi.lg {
   font-size: 32px;
}

.mi.xl {
   font-size: 48px;
}

html {
   font-variant-numeric: tabular-nums;
}

body {
   cursor: url("../assets/images/Cursor.svg?url"), default;
   user-select: none;
   -webkit-user-select: none;
   overflow: hidden;
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   margin: 0;
   padding: 0;
   &.dev {
      user-select: text;
      -webkit-user-select: text;
   }
}

em {
   font-style: normal;
}

.breathing {
   animation: 1s ease infinite alternate breathing;
}

@keyframes breathing {
   0% {
      opacity: 0.5;
      scale: 0.9;
   }

   100% {
      opacity: 1;
      scale: 1;
   }
}

.spin {
   animation: 1s linear infinite spin;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.divider {
   background: var(--mantine-color-dark-4);
   height: 1px;
   align-self: stretch;
   flex: 0 0 1px;
}

.divider.vertical {
   height: auto;
   width: 1px;
}

.divider.dashed {
   border-top: 1px dashed var(--mantine-color-dark-4);
   background: none;
}

.divider.light {
   background: rgba(255, 255, 255, 0.4);
}

.tooltip {
   color: var(--mantine-color-dark-text);
   background: var(--mantine-color-space-2);
   border: 1px solid var(--mantine-color-light-7);
   border-radius: 5px;
   padding: 5px 10px;
   font-size: var(--mantine-font-size-sm);
   max-width: 30vw;
   z-index: calc(var(--mantine-z-index-popover) + 1);
}

.subtitle {
   font-size: var(--mantine-font-size-sm);
   color: var(--mantine-color-space-text);
   text-align: center;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

   &.md {
      font-size: var(--mantine-font-size-md);
   }

   &.lg {
      font-size: var(--mantine-font-size-lg);
   }

   &.xl {
      font-size: var(--mantine-font-size-xl);
   }

   &.uppercase {
      text-transform: uppercase;
   }
}

.subtitle::before {
   content: "";
   flex: 1;
   border-top: 1px dashed var(--mantine-color-dark-4);
   margin-right: 10px;
}

.subtitle:after {
   content: "";
   flex: 1;
   border-top: 1px dashed var(--mantine-color-dark-4);
   margin-left: 10px;
}

.subtitle.dotted::before,
.subtitle.dotted::after {
   border-top: 3px dotted var(--mantine-color-dark-4);
}

.mantine-Tooltip-tooltip,
.mantine-TooltipFloating-tooltip,
.render-html {
   b {
      color: var(--mantine-color-space-5);
      font-family: "SpaceshipIdle", sans-serif;
   }
   small {
      font-size: var(--mantine-font-size-sm);
      color: var(--mantine-color-dark-2);
      font-style: normal;
      font-family: "SpaceshipIdle", sans-serif;
   }
   em {
      color: var(--mantine-color-red-6);
      font-style: normal;
      font-family: "SpaceshipIdle", sans-serif;
   }
}

.data-table {
   width: 100%;
   border-collapse: collapse;
   border-spacing: 0;
   border: none;
   font-size: var(--mantine-font-size-sm);
   line-height: 1.25;

   th {
      font-weight: bold;
      text-transform: uppercase;
      color: var(--mantine-color-space-text);
   }

   td {
      border-top: 1px solid var(--mantine-color-dark-4);
   }

   td,
   th {
      padding: 2px 5px;

      &.condensed {
         padding: 0;
         width: 0;
      }
   }
}

.mantine-ScrollArea-scrollbar {
   --scrollarea-scrollbar-size: 8px;
   background-color: transparent;

   &:hover {
      background-color: transparent;
   }
}

.video-tutorial {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   gap: 10px;
   font-size: var(--mantine-font-size-sm);
   padding: 5px;
   border-radius: 5px;
   border: 1px solid var(--mantine-color-space-4);

   video {
      width: 100px;
      display: block;
      border-radius: 5px;
   }

   .mantine-CloseButton-root {
      align-self: flex-start;
   }

   b {
      color: var(--mantine-color-space-5);
   }

   em {
      color: var(--mantine-color-red-6);
   }
}

.data-table {
   width: 100%;
   font-size: var(--mantine-font-size-sm);
   line-height: 1.25;
   border: 1px solid var(--mantine-color-dark-2);

   th {
      font-weight: bold;
      text-transform: uppercase;
      color: var(--mantine-color-space-text);
      text-align: left;
   }

   td {
      border-top: 1px solid var(--mantine-color-dark-2);
   }
}
