.resource-panel {
   max-height: 30vh;
   overflow-y: auto;
   overflow-x: hidden;
   text-shadow: 1px 1px 0 #000;
   position: absolute;
   top: 55px;
   left: 10px;
   font-size: var(--mantine-font-size-sm);
   /* mask-image: linear-gradient(rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0.25) 100%);
    mask-mode: alpha; */
}

.resource-panel .row > div:nth-child(1) {
   width: 100px;
}

.resource-panel .row > div:nth-child(2) {
   width: 60px;
}

.resource-panel .row > div:nth-child(3) {
   text-align: right;
   width: 50px;
}
