.ship-info {
   padding: 1px;
   position: absolute;
   top: 10px;
   left: 10px;
   text-align: center;
   font-size: var(--mantine-font-size-xs);
   color: white;
   display: flex;
   flex-direction: row;
   align-items: center;
   line-height: 1;
   .block {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0 5px;
   }
   .progress {
      position: absolute;
      left: 0;
      bottom: -1px;
      transition: width 0.2s ease-in-out;
      background-color: var(--mantine-color-blue-filled);
      height: 3px;
   }
}
